.App :root {
  --dark-turquoise: #4897a8;
  --med-turquoise: #59b4c9;
  --light-turquoise: #7dc4d4;
  --sun-yellow: #fddc54;
  --sun-orange: #e98d22;
  --button-box-shadow: 2px 2px 2px 1px rgba(0, 0, 255, 0.2);
  --button-hover-transiton: all 200ms ease-in-out;
  --button-border-radius: 20px;
  --button-dt-shadow: 2px 2px 2px 1px rgba(72, 151, 168, 0.3);
  --shadow: 0px 0px 20px 6px rgba(72, 151, 168, 0.5);
}

.App .weather-container {
  display: block !important;
  margin: 0 auto !important;
  margin-top: 50px !important;
  margin-bottom: 50px !important;
  max-width: 800px !important;
}
